body {
    background: #33333d;
}

main {
    height: 75%;
}

.ring {
    width: 50;
    height: 50;
    background-color: #fff;
    border-radius: 100%;
}

.ring .center {
    position: relative;
    background-color: #33333d;
    width: 30;
    height: 30;
    top: 20%;
    left: 20%;
    border-radius: 100%;
}

header {
    overflow: auto;
}

#icon .logo {
    height: 80px;
    float: left;
}

#icon .home, #icon .volume{
    height: 45px;
    margin-right: 5px;
    margin-top: 5px;
    float: right;
}

main {
    height: 70%;
}

#leftPlayer {
    position: relative;
    padding-left: 10px;
    float: left; 
    top: 50%; 
}

#leftPlayer .ring {
    background-color: #dabb35; 
    float: left;
}

#leftPlayer p {
    padding-left: 10px;
    color: white;
	margin-top: 7%;
	font-family: 'Amatic SC', cursive;
	font-size: 1.5em;
    float: right;
}

#leftPlayer:hover {
    cursor: pointer;
}

#rightPlayer {
    position: relative;
    padding-right: 10px;
    float: right;  
    top: 50%;
}

#rightPlayer .ring {
    background-color: #30cfa0; 
    float: right;
}

#rightPlayer p {
    padding-right: 10px;
    color: white;
	margin-top: 7%;
	font-family: 'Amatic SC', cursive;
	font-size: 1.5em;
    float: left;
}

#rightPlayer:hover {
    cursor: pointer;
}

#board {
    padding-top: 10%;
}

.wrapper {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(7, 60px);
    grid-template-rows: repeat(6, 60px);

}