.stat {
	float: left;
}

.stat p {
	color: white;
	margin: auto;
	font-family: 'Amatic SC', cursive;
	font-size: 1.5em;
	padding-left: 10px;
}
main img {
	height: 350px;
	display: block;
	margin: auto;
	margin-top: 50px;
}

.button {
	text-align: center;
	margin-top: 50px;
}



button {
	position: relative;
  	width: 200px;
  	height: 90px;
  	background-color: #33333d;
  	border: 2px solid white;
  	color: #37efba;
  	padding: auto;
  	text-align: center;
 	font-size: 4em;
 	font-family: 'Patrick Hand', cursive;
	cursor: pointer;
}

button:hover {
	background-color: #222222;
}

button:active {
	background-color: #191919;
}
