@media (max-width: 735px), (max-height: 800px) {
  error {
    text-align: center;
    position: fixed;
    display: block;
    margin-left: 20%;
    top: 0px;
    width: 60%;
    color: wheat;
    font-family: "Amatic SC", cursive;
    background-color: transparent;
    font-size: 1em;
  }
}
@media (min-width: 735px) and (min-height: 800px) {
  error {
    display: none;
  }
}


html {
  height: 100%;
}

body {
  background-image: linear-gradient(to top, #004c49 0%, #000000 100%);
}

header {
  overflow: auto;
}

#info {
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  display: none;
  color: white;
  font-family: "Amatic SC", cursive;
  font-size: 2em;
}

#info::before {
  content: "The game is over either when you or your opponent reaches four in a row (horizontally, vertically or diagonally), or when all forty two slots are filled, ending in a stalemate.";
}

#icon .info,
#icon .home,
#icon .volume {
  height: 45px;
  margin-right: 5px;
  margin-top: 5px;
  float: right;
  transition: height ease-in-out 0.3s;
}

#icon .info:hover,
#icon .home:hover,
#icon .volume:hover {
  height: 60px;
  cursor: pointer;
}
